%hidden-block {
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--hover-transition);
}

.bonuses-section {
  position: absolute;
  z-index: var(--z-bonus-section);
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--col-dark-tone-ink);
  font-size: to-rem(14);
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;

  @media (orientation: landscape) {
    top: 25%;
  }

  @include respond-above(medium) {
    font-size: to-rem(20);
  }

  @include respond-above(large) {
    font-size: to-rem(30);
  }
}

.bonuses-section__bonus-wrapper {
  --size: #{to-rem(100)};
  --border-radius: #{to-rem(4)};
  --border-width: #{to-rem(4)};

  position: relative;
  z-index: var(--z-default);
  width: var(--size);
  height: var(--size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--col-cacodemon-red);
  overflow: hidden;
  filter: drop-shadow(to-rem(0) to-rem(2) to-rem(12) var(--col-pantone));

  @media (orientation: portrait) {
    max-width: var(--wheel-size-portrait);
  }

  // @media (orientation: landscape) {
  @include respond-above(medium) {
    --size: #{to-rem(148)};
    --border-width: #{to-rem(6)};
    --border-radius: #{to-rem(6)};
  }

  @include respond-above(large) {
    --size: #{to-rem(210)};
    --border-width: #{to-rem(8)};
    --border-radius: #{to-rem(8)};
  }
  // }

  &::before {
    content: '';
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
    height: calc(100% - var(--border-width) * 2);
    width: calc(100% - var(--border-width) * 2);
    border-radius: var(--border-radius);
    z-index: var(--z-hidden);

    @include bg-img-webp('/img/bonus-section-bg');

    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
  }

  &--first {
    @extend %hidden-block;

    .bonuses-section--visible-first-bonus & {
      visibility: visible;
      opacity: 1;
    }
  }

  &--second {
    @extend %hidden-block;

    .bonuses-section--visible-second-bonus & {
      visibility: visible;
      opacity: 1;
    }
  }
}

.bonuses-section__text--accent {
  font-size: to-rem(28);
  line-height: 1.1;

  @include respond-above(medium) {
    font-size: to-rem(40);
  }

  @include respond-above(large) {
    font-size: to-rem(60);
  }
}
