@mixin bg-image($path) {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  user-select: none;

  @include bg-img-webp($path, true);
}

.main {
  position: relative;
  height: vh(100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (orientation: landscape) {
    padding-top: to-rem(40);

    @include respond-above(medium) {
      padding-top: to-rem(60);
    }
  }
}

.main__wheel-logo {
  position: relative;
  z-index: var(--z-wheel);
  width: 100%;
  max-width: calc(
    var(--wheel-size-portrait, var(--wheel-size-landscape)) * 0.85
  );

  @media (orientation: portrait) {
    margin-bottom: vh(3);
  }

  @media (orientation: landscape) {
    transform: translateY(20%);
  }
}

.main__cta-btn {
  position: relative;
  z-index: var(--z-wheel-btn);
  height: to-rem(50);
  width: 100%;
  max-width: min(
    var(--wheel-size-portrait, var(--wheel-size-landscape)),
    to-rem(460)
  );
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: to-rem(12);
  border: to-rem(1) solid var(--col-total-white);
  background-image: linear-gradient(
    to bottom,
    var(--col-bright-red) 0%,
    var(--col-dwarf-fortress) 100%
  );
  box-shadow: 0 to-rem(4) to-rem(25) 0 rgba(var(--col-little-ladybug-rgb), 60%);
  font-size: to-rem(16);
  text-transform: uppercase;
  cursor: default;
  transform: translateY(-20%);
  transition: box-shadow var(--hover-transition),
    transform var(--hover-transition);

  @media (orientation: landscape) {
    @include respond-above(medium) {
      height: vh(10);
      font-size: min(vh(5), to-rem(37));
    }
  }

  @media (orientation: portrait) {
    @include respond-above(tablet) {
      height: to-rem(80);
      font-size: to-rem(30);
    }
  }

  @include hover {
    body:not(.wheel-stage-3) & {
      box-shadow: 0 to-rem(4) to-rem(40) 0
        rgba(var(--col-little-ladybug-rgb), 60%);
      cursor: pointer;
      transform: translateY(-20%) scale(1.1);

      .main__cta-btn-icon {
        transform: rotate(180deg);
      }
    }
  }
}

.main__cta-btn-icon {
  margin-right: to-rem(18);
  transition: transform var(--hover-transition);

  @media (orientation: landscape) {
    @include respond-above(medium) {
      height: auto;
      width: min(vh(7), to-rem(60));
    }
  }
}

.main__character-decor {
  --aspect-ratio: 0.7;

  position: absolute;
  z-index: var(--z-character-decor);
  bottom: 0;
  aspect-ratio: var(--aspect-ratio);

  @include bg-image('/img/decor/character-decor');

  @media (orientation: portrait) {
    right: 0;
    width: min(76vw, vh(64) * var(--aspect-ratio));
    transform: translateX(50%);
  }

  @media (orientation: landscape) {
    left: calc(50% + var(--wheel-size-landscape) / 2);
    width: min(26.5vw, vh(70.5) * var(--aspect-ratio));
    transform: translateX(-20%);
  }
}

.main__chest-decor {
  --aspect-ratio: 1.19;

  position: absolute;
  bottom: 0;
  z-index: var(--z-chest-decor);
  aspect-ratio: var(--aspect-ratio);
  filter: drop-shadow(
    -#{to-rem(15)} to-rem(15) to-rem(15) rgba(var(--col-dark-tone-ink-rgb), 50%)
  );

  @include bg-image('/img/decor/chest-decor');

  @media (orientation: portrait) {
    left: 0;
    width: min(54vw, vh(24.5) * var(--aspect-ratio));
    transform: translate(20%, 6%);
  }

  @media (orientation: landscape) {
    left: calc(50% - var(--wheel-size-landscape));
    width: min(30vw, vh(46) * var(--aspect-ratio));
    transform: translateX(-12%);
  }
}

.main__bag-decor {
  --aspect-ratio: 1;

  position: absolute;
  transform: rotate(17deg);
  z-index: var(--z-default);
  aspect-ratio: var(--aspect-ratio);
  filter: drop-shadow(
    to-rem(8) to-rem(11) to-rem(22) rgba(var(--col-pantone-rgb), 60%)
  );

  @include bg-image('/img/decor/bag-decor');

  @media (orientation: portrait) {
    top: 9%;
    right: 2%;
    width: min(22vw, vh(15) * var(--aspect-ratio));
  }

  @media (orientation: landscape) {
    top: 2%;
    left: calc(50% + var(--wheel-size-landscape));
    width: min(15vw, vh(22) * var(--aspect-ratio));
    transform: translateX(-70%);
  }
}

.main__book-decor {
  --aspect-ratio: 1;

  position: absolute;
  z-index: var(--z-default);
  aspect-ratio: var(--aspect-ratio);
  filter: drop-shadow(
    to-rem(21) to-rem(30) to-rem(28) rgba(var(--col-pantone-rgb), 60%)
  );

  @include bg-image('/img/decor/book-decor');

  @media (orientation: portrait) {
    top: 9%;
    left: 6%;
    width: min(15vw, vh(8.5) * var(--aspect-ratio));
  }

  @media (orientation: landscape) {
    top: 20%;
    left: calc(50% - var(--wheel-size-landscape));
    width: min(8.2vw, vh(14.6) * var(--aspect-ratio));
  }
}

.main__rock-decor {
  --aspect-ratio: 1;

  position: absolute;
  transform: rotate(26deg);
  z-index: var(--z-default);
  aspect-ratio: var(--aspect-ratio);
  filter: drop-shadow(
    to-rem(21) to-rem(30) to-rem(28) rgba(var(--col-pantone-rgb), 60%)
  );

  @include bg-image('/img/decor/rock-decor');

  @media (orientation: portrait) {
    top: 60%;
    left: 0;
    width: min(15vw, vh(11) * var(--aspect-ratio));
  }

  @media (orientation: landscape) {
    top: 50%;
    left: 4%;
    width: min(11vw, vh(18) * var(--aspect-ratio));

    @include respond-above(xmedium) {
      left: 0;
    }
  }
}
