$col-pantone: #ffc700;
$col-pantone-rgb: hex-to-rgb($col-pantone);

$col-super-black: #270c00;
$col-super-black-rgb: hex-to-rgb($col-super-black);

$col-little-ladybug: #ff1313;
$col-little-ladybug-rgb: hex-to-rgb($col-little-ladybug);

$col-bright-red: #ff000d;
$col-bright-red-rgb: hex-to-rgb($col-bright-red);

$col-dwarf-fortress: #110000;
$col-dwarf-fortress-rgb: hex-to-rgb($col-dwarf-fortress);

$col-black-chestnut-oak: #272421;
$col-black-chestnut-oak-rgb: hex-to-rgb($col-black-chestnut-oak);

$col-cacodemon-red: #9e0004;
$col-cacodemon-red-rgb: hex-to-rgb($col-cacodemon-red);
