<main class="main container">
  <picture class="main__wheel-logo">
    <source
      type="image/webp"
      srcset="
        /img/decor/wheel-logo.webp    1052w,
        /img/decor/wheel-logo@2x.webp 2104w
      "
      sizes="1052px"
    />
    <source
      type="image/png"
      srcset="
        /img/decor/wheel-logo.png    1052w,
        /img/decor/wheel-logo@2x.png 2104w
      "
      sizes="1052px"
    />
    <img
      src="/img/decor/wheel-logo.png"
      width="1052"
      height="296"
      alt=""
      loading="lazy"
    />
  </picture>
  {{> bonuses-section}} {{> wheel }}
  <button
    class="main__cta-btn js-spin-wheel-btn"
    type="button"
    aria-label="Gire e gahne"
  >
    {{> svg-icon class='main__cta-btn-icon' width="32" height="33"
    name='arrows'}}
    <span>Gire e gahne</span>
  </button>
  <div class="main__character-decor"></div>
  <div class="main__chest-decor"></div>
  <div class="main__bag-decor"></div>
  <div class="main__book-decor"></div>
  <div class="main__rock-decor"></div>
</main>
